.git
.venv
__pycache__
*.pyc
.pytest_cache
build
dist
*.egg-info
outputs/*
!outputs/.gitkeep
data
third_party/photometric_optimization/FFHQ/*
third_party/photometric_optimization/FFHQ_seg/*
third_party/photometric_optimization/test_results/*
